.backdrop {
  width: 100%;
  height: 400px;
  background-color: var(--base-gray-background, #f5f6f8);
}
.list {
  position: relative;
}
.image {
  width: calc(100%-12px);
  max-width: 424px;
  height: 180;
  margin: 12px;
  padding-top: 12px;
}
.title {
  font-size: 12px;
  position: absolute;
  top: 75%;
  left: 5%;
  color: white;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 424px;

  margin-inline: auto;
}
.category {
  /* height: 70vh; */
  border: 1px;
  height: 700px;
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
}

@media (max-width: 900px) {
  .backdrop {
    background-color: white;
  }
  .image {
    max-width: 100%;
    max-width: 288px;
  }
  .title {
    top: 65%;
    left: 5%;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
  }
}

@media (max-width: 1400px) {
  .backdrop {
    background-color: white;
  }
  .image {
    max-width: 268px;
    flex-grow: 1;
  }
  .title {
    top: 65%;
    left: 5%;
  }
}

@media (min-width: 1400p) {
  .backdrop {
    background-color: var(--base-gray-background, #f5f6f8);
  }
}
