.categories {
  height: 100%;
  margin-inline: auto;
}

.list {
  position: relative;
  height: 180px;
  width: 100%;
  max-width: 424px;
  margin: 10px;
  background-repeat: no-repeat;
  object-position: center;
}
.image {
  width: 100%;
  max-width: 424px;
  height: 180;
  margin: 12px;
}
.title {
  font-size: 12px;
  position: absolute;
  top: 75%;
  left: 5%;
  color: white;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-inline: auto;
  height: 100vh;
}
.category {
  /* height: 70vh; */

  height: 700px;
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
}

@media (max-width: 700px) {
  .products {
    flex-direction: column;
  }
  .list {
    width: 100%;
    max-width: 288px;
    height: 180px;
  }
}

@media (max-width: 900px) {
  .backdrop {
    background-color: white;
  }
  /* .image {
      width: 100%;
      max-width: 160px;
      height: 180px;
      justify-content: center;
      flex-shrink: 1;
    } */
  .list {
    background-position: center;
    width: 100%;
    max-width: 268px;
    height: 180px;
  }
  .title {
    top: 65%;
    left: 5%;
  }
  .products {
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
  }
}

@media (max-width: 1400px) {
  .backdrop {
    background-color: white;
  }
  .image {
    max-width: 268px;
    flex-grow: 1;
  }
  .title {
    top: 75%;
    left: 5%;
  }
  /* .list {
      max-width: 268px;
      height: 180px;
    } */
}

@media (min-width: 1400p) {
  .backdrop {
    background-color: var(--base-gray-background, #f5f6f8);
  }
}
