.container {
  width: 1320px;
  height: 306px;
  margin: 3rem;
}
.section {
  display: flex;

  justify-content: center;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.address {
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 10rem;
  height: 3em;
}
.touch {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  margin: 24px 0px;
}
